@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: digital-7;
  src: url(../asset/fonts/digital-7.ttf);
}

:root {
  --light-color: #03fdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #1e272e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 567px) {
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    color: aqua;
  }

  .frame {
    width: 340px;
    height: 160px;
    background-color: rgb(1, 1, 1);
    border: 10px solid#00ffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .clock {
    font-size: 45px;
    font-weight: bold;
    font-family: digital-7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 25px var(--light-color);
  }

  .h,
  .m,
  .s,
  .dot {
    width: 30px;
  }

  .txt {
    margin-left: 10px;
  }

}

@media (min-width: 576px) {
  h2 {
    font-size: 32px;
    font-weight: 500;
    color: aqua;
  }

  .frame {
    width: 700px;
    height: 300px;
    background-color: rgb(1, 1, 1);
    border: 50px solid#00ffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .clock {
    font-size: 86px;
    font-weight: bold;
    font-family: digital-7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 25px var(--light-color);
  }

  .h,
  .m,
  .s,
  .dot {
    width: 50px;
  }

  .txt {
    margin-left: 10px;
  }
}
