@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e74c3c;
}


#container{
display: grid;
grid-template-columns: repeat(auto-fill,200px);
gap:24px;
padding:24px;
}

.sticky{
height: 200px;
padding: 16px;
border: none;
outline: none;
resize: none;
border-radius: 5px;
font-size: 18px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-add{
height: 200px;
border: none;
outline: none;
color:#fff;
font-size: 20px;
background-color:#2c3e50;
cursor: pointer;
}
.btn-add:hover{
  background-color: #34495e;
  border-radius: 5px;
}