@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: digital-7;
  src: url(../asset/fonts/digital-7.ttf);
}

body{
  width: 100vw;
  height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #12CBC4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 25px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  user-select: none;
  cursor: pointer;
}

h3{
  font-size: 45px;
  color: rgb(255, 0, 0);
  font-family: digital-7;
}

.frame{
  display: flex;
  justify-content: center;
  align-items: center;

}

.frame div{
  font-size: 75px;
  font-weight: 600;
  color: red;
   font-family: digital-7;
}

.hrs, .min, .sec, .ms{
  width: 100px;
 text-align: center;
 color: black !important;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttons button{
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-size:20px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 2px 2px 10px black ;
   font-family: digital-7;
}

.start{background-color: green;}
.stop{background-color: blue;}
.reset{background-color: red;}

.start-active,
.stop-active{
  pointer-events: none;
  opacity: 0.5;
}
