@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  display: grid;
  place-content: center;
}
.app-container {
  width: 400px;
  height: auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px #333;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 38px;
  color: orangered;
}

.input-group {
  margin: 10px 0;
  padding: 10px;
}

.input-group input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid blueviolet;
  margin-top: 10px;
}

.input-group input:focus{
  filter: drop-shadow(3px 3px 10px blueviolet);
}
.check-box-group {
  margin-top: 10px;
  padding: 0 10px;
}

.check-box-group label {
  margin-left: 8px;
}

.result {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 3px;
}

.result span {
  color: blueviolet;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

.result svg {
  cursor: pointer;
}
.result svg:hover {
  fill: blueviolet;
}
.btn-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

button {
  width: 180px;
  height: 35px;
  text-align: center;
  background-color: orangered;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: orange;
}
.copyright {
  text-align: center;
}
.copyright a {
  text-decoration: none;
  transition: 0.3s ease;
}

.copyright a:hover {
  border-bottom: 1px solid blueviolet;
}
