@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.container {
  width: 550px;
  height: 360px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 6px;
}
.container textarea {
  width: 100%;
  resize: none;
  height: 70%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
.container span {
  position: absolute;
  right: 25px;
  bottom: 15px;
  font-size: 12px;
  color: #ccc;
}

h2{
  margin-bottom: 10px;
}

textarea{
  font-size: 16px;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

/* Track */
textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p{
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

button:hover{
  background-color: orangered;
}

button:disabled{
  background-color: #ccc;
  cursor: no-drop;
}

.input-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
}