@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f1;
  display: grid;
  place-content: center;
}
.container {
  width: 500px;
  height: auto;
  background-color: #ffff;
  padding: 20px;
  border-top: 5px solid orange;
}

.container .title {
  width: 75%;
  text-align: center;
  margin: 30px auto;
}

form .form-group {
  margin: 30px 0;
  position: relative;
}

form .form-item .icon {
  position: absolute;
}

form .user-name {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

form .form-group input,
form .form-group select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 45px;
}

.form-group input[type="text"]:focus + label, .form-group input[type="password"]:focus + label, 
.form-group input:valid + label {
  transform: translateY(-20px) scale(0.8);
  background-color: #fff;
  color: orange;
  border: 1px solid orange;
 
}

.form-group input:focus,
.form-group select:focus {
  border: 1px solid orange;
}

form .form-group label {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  left: 45px;
  top: 12px;
  color: #696868;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 0 3px;
  pointer-events: none;
}

form .radio,
form .check-box {
  color: #696868;
  font-size: 14px;
  font-weight: 500;
}
form .radio label[for="female"] {
  margin-left: 20px;
}

form .check-box .newsletter {
  margin-top: 10px;
}
form .form-group .icon {
  border: 1px solid orange;
  width: 40px;
  height: 40px;
}
form .form-group i{
  position: absolute;
  right: 10px;
  color: #696868;
  top: 13px;
}

.fa-eye-slash{
  display: none;
}


form .form-group svg {
  fill: #000;
  text-align: center;
  width: 20px;
  margin: 7px 7px;
}

form button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: none;
  background-color: orange;
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
form button:hover {
  background-color: rgb(243, 186, 79);
}
form .form-group .form-item .error {
  color: red;
  font-size: 12px;
  width: 100%;
  padding: 10px 0;
}

.form-group .error input,
.form-group .error select,
.form-group .error .icon {
  border-color: red;
}
.form-group .success input,
.form-group .success select,
.form-group .success .icon {
  border-color: #0cc477;
}
