.container {
  position: relative;
}

.nav-tabs {
  position: absolute;
  top: 83%;
  z-index: 10 !important;
}

.banner {
  background: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
  position: relative;
}

.banner-head #img-left {
  position: absolute;
  left: 0;
  top: -90px;
}
.banner-head #img-right {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.icon-group {
  width: 100%;
  height: 300px;
  position: relative;
}

.icon-group .icon-1 {
  position: absolute;
  top: 40px;
  left: 10px;
}
.icon-group .icon-2 {
  position: absolute;
  top: 40px;
  left: 450px;
}
.icon-group .icon-3 {
  position: absolute;
  top: 40px;
  right: 350px;
}
.icon-group .icon-4 {
  position: absolute;
  top: 20px;
  left: 630px;
  width: 15px;
}
.icon-group .icon-5 {
  position: absolute;
  top: 170px;
  left: 10px;
  width: 20px;
}
.icon-group .icon-6 {
  position: absolute;
  top: 170px;
  left: 450px;
  width: 25px;
}
.icon-group .icon-7 {
  position: absolute;
  top: 170px;
  left: 850px;
  width: 10px;
}
.icon-group .icon-8 {
  position: absolute;
  top: 170px;
  left: 250px;
}
.icon-group .icon-9 {
  position: absolute;
  top: 170px;
  left: 700px;
}
.icon-group .icon-10 {
  position: absolute;
  top: 170px;
  right: 180px;
}

.dot1 {
  width: 25px;
  height: 10px;
  background-color: blue;
  border-radius: 10px;
}
.dot2 {
  width: 10px;
  height: 10px;
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}

.tag-main {
  position: relative;
}

.tag {
  padding: 2px 15px;
  position: absolute;
  top: 33px;
  right: 0;
  background-color: rgb(33, 102, 240);
  color: white;
  font-weight: bold;
  transform: rotate(-90deg);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 14px;
}

.banner2 {
  background: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
  position: relative;
  height: 510px;
}
.blog-section {
  width: 100%;
  margin-top: 400px;
}

.top-button {
  position: absolute;
  bottom: 100px;
  right: 20px;
  opacity: 0.3;
}
.top-button:hover {
  opacity: 1;
  transition: 0.2s ease;
}

.productivity {
  width: 1050px;
}

.bt-hover:hover {
  border-bottom: 3px solid blue;
}

.hover-box{
  transition: 0.5s ease;
}

.hover-box:hover {
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}

@media screen and (max-width: 567px) {
  .para {
    width: 300px !important;
    text-align: center !important;
  }

  .banner-head #img-left {
    width: 100px;
    position: absolute;
    left: 0;
    top: -30px;
  }
  .banner-head #img-right {
    width: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .icon-group {
    width: 100%;
    height: 350px;
    position: relative;
  }

  .icon-group .icon-1 {
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .icon-group .icon-2 {
    position: absolute;
    top: 40px;
    left: 250px;
  }
  .icon-group .icon-3 {
    position: absolute;
    top: 80px;
    right: 120px;
  }
  .icon-group .icon-4 {
    position: absolute;
    top: 20px;
    left: 150px;
    width: 15px;
  }
  .icon-group .icon-5 {
    position: absolute;
    top: 270px;
    left: 10px;
    width: 20px;
  }
  .icon-group .icon-6 {
    position: absolute;
    top: 220px;
    left: 150px;
    width: 25px;
  }
  .icon-group .icon-7 {
    position: absolute;
    top: 170px;
    left: 50px;
    width: 10px;
  }
  .icon-group .icon-8 {
    position: absolute;
    top: 270px;
    left: 250px;
  }
  .icon-group .icon-9 {
    position: absolute;
    top: 270px;
    left: 50px;
  }
  .icon-group .icon-10 {
    position: absolute;
    top: 170px;
    right: 40px;
  }

  .support {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .banner2 {
    background: linear-gradient(to bottom, #e0e8ff, #f5f7ff);
    position: relative;
    height: auto;
  }
  .blog-section {
    width: 100%;
    margin-top: 0;
  }

  .productivity {
    width: 100%;
    padding: 0 20px;
  }

  .top-button {
    position: absolute;
    bottom: 0;
    right: 20px;
    opacity: 0.3;
  }
}
