

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');


.nav-item a:hover{
 background-color:orange;
border-radius: 10px;
height:fit-content;
}


body{
  font-family: 'Poppins', sans-serif;
}
.dropdown-item li a:hover{
  padding: 10px;
  color: white;
}
.socialmedia a:hover{
  padding: 10px;
  background-color: white;
}
.socialmedia1 a:hover{
 background-color: orange;
 padding:10px;
}

.contact a i:hover{
 color: white;
 text-decoration: underline;
}
.contact  i:hover{
  color: white;
  text-decoration: underline;
 }

 .contact h4 i{
  text-decoration: underline;
 }

.menu a h3:hover{
  background-color: orange;
  color: white;
  border-radius: 10px;

}

.menu h2:hover{
  color: aqua;

 }

 .content h2:hover{
  color: aqua;
 
 }
 .content a h3:hover{
  background-color: orange;
  color: white;
  border-radius: 10px;
 
}

.span{
  color: red;
}

/*-------Products-----------*/
.col-md-4{
  border-right: ridge;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #010615;
	font-family: 'Poppins', sans-serif;
}
.box{
	position: relative;
	width: 300px;
	height: 500px;
	display: flex;
  margin: 20px 20px;
	justify-content: center;
	background: #060c21;
  
}
.glass{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	background: rgba(255,255,255,.1);
	pointer-events: none;
}
.content1{
	padding: 20px;
	box-sizing: border-box;
	color: #fff;
}
.box .content1 h2{
  text-align: center;
  background-color: white;
  color:black;
  padding: 2px;
  font-family:"Poppins",sans-serif;
  font-weight: bold;
  border-radius: 5px;
  font-size: 31px;
}

.box .content1 p{
  text-align: center;
  padding: 10px;
  line-height: 40px;
}

.box:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.box:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}


.content1 button{
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family:"Poppins",sans-serif;
  border-radius: 10px;
  margin-top: 10px;

}

.content1 a button:hover{
  background-color: #772aff;
  color: white;
  text-decoration: underline;
}

.box:before,.box:after{
	background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,.box:nth-child(2):after{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,.box:nth-child(3):after{
    background: linear-gradient(235deg,#772aff,#010615,#2196F3);
}

 

/*-------Terms & conditions-----------*/


[data-custom-class='body'], [data-custom-class='body'] * {
        background: transparent !important;

      }
[data-custom-class='title'], [data-custom-class='title'] * {
  font-family:"Poppins",sans-serif;
font-size: 28px !important;
color: #000000 !important;

      }
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
  font-family:"Poppins",sans-serif;
color: #595959 !important;
font-size: 24px !important;
      }
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
  font-family:"Poppins",sans-serif;
font-size: 22px !important;
color: #000000 !important;
      }
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
  font-family:"Poppins",sans-serif;
font-size: 19px !important;
color: #000000 !important;
      }
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
        color: #595959 !important;
font-size: 18px !important;
font-family:"Poppins",sans-serif;
      }
[data-custom-class='link'], [data-custom-class='link'] * {
        color: #3030F1 !important;
font-size: 20px !important;
font-family:"Poppins",sans-serif;
word-break: break-word !important;
text-decoration: none;
      }
   
/*-------privacy policy-----------*/

    
            [data-custom-class='body'], [data-custom-class='body'] * {
                    background: transparent !important;
                  }
          [data-custom-class='title'], [data-custom-class='title'] * {
            font-family:"Poppins",sans-serif;
          font-size: 28px !important;
          color: #000000 !important;
                  }
          [data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
            font-family:"Poppins",sans-serif;
          color: #595959 !important;
          font-size: 24px !important;
                  }
          [data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
            font-family:"Poppins",sans-serif;
          font-size: 22px !important;
          color: #000000 !important;
                  }
          [data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
            font-family:"Poppins",sans-serif;
          font-size: 19px !important;
          color: #000000 !important;
                  }
          [data-custom-class='body_text'], [data-custom-class='body_text'] * {
                    color: #595959 !important;
          font-size: 18px !important;
          font-family:"Poppins",sans-serif;
                  }
          [data-custom-class='link'], [data-custom-class='link'] * {
                    color: #3030F1 !important;
          font-size: 20px !important;
          font-family:"Poppins",sans-serif;
          word-break: break-word !important;
                  }

                ul {
                  list-style-type: square;
                }
                ul > li > ul {
                  list-style-type: circle;
                }
                ul > li > ul > li > ul {
                  list-style-type: square;
                }
                ol li {
                  font-family:"Poppins",sans-serif;
                }
         
      