@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #079992 !important;
}

.container {
  max-width: 600px !important;
  height: auto !important;
}

select option:checked {
  font-weight: bold !important;
}

.form-group {
  position: relative !important;
}

.form-group i {
  position: absolute !important;
  right: 14px;
  top: 9px;
  font-size: 17px;
}
