@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --bg-color: #f1f3f6;
  --nav-bg-color: #2874f0;
  --btn-color: #fb641b;
  --font1-color: black;
  --font2-color: white;
  --font3-color: #fce303;
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --footer-bg: #172337;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

/*--------------------------------Desktop-Home---------------------------*/

@media (min-width: 600px) {
  nav .brand {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  nav .brand img {
    width: 200px;
    height: auto;
  }

  .menu-button {
    display: none;
  }

  nav {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 227, 227);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 25px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .nav-item ul {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
  }
  .nav-item ul li a {
    color: black;
    font-weight: 700;
    font-size: 18px;
    transition: 0.1s ease;
  }

  .nav-item ul li a:hover {
    color: red;
    border-bottom: 3px solid red;
  }

  form{
    width: 400px;
    height: 550px;
    background-color: white;
    position: absolute;
    right:150px;
    top: 170px;
    z-index: 1;
    border-radius: 10px;
  }

  form .close i{
    display: none;
  }

  form .form-group{
    padding: 20px 50px;
  }

  form  .form-group h1{
    font-size: 26px;
    margin-bottom: 20px;
  }
  form .form-group input{
    width: 100%;
    height: 45px;
    border: 1px solid #dbd6d6;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
  }

  form .form-group label{
    position: absolute;
    left: 60px;
    margin-top: 33px;
    font-size: 14px;
    color: #a6a3a3;
    transition: 0.2s;
    pointer-events: none;
  }
  .row input[type="text"]:focus + label{
    transform: translateY(-25px);
    background-color: white;
    padding: 5px 5px;
    font-size: 11px;
    color: black;
    font-weight: 500;
  }
  .row input[type="text"]:valid + label{
    transform: translateY(-25px);
    background-color: white;
    padding: 5px 5px;
    font-size: 11px;
    color: black;
    font-weight: 500;
  }

  .row input[type="text"]:focus ,input{
    outline: 1px solid #d94c50;
  }

  .form-group input[id="checkbox"]{
    width: auto;
    height: auto;
  }

  .form-group .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    gap: 10px;
  }

  .form-group .checkbox p{
  font-size: 12px;
  margin-top: 10px;
  }

.form-group .checkbox span{
  color:#d94c50 ;
}

.form-group input[type="button"]{
  background-color: #d94c50;
  border: none;
  font-size:17px ;
  color: white;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.form-group input[type="button"]:hover{
  background-color: #983438;
}

  .main img {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    opacity: 0.7;
    object-fit: cover;
  }
  .main-content {
    position: absolute;
    top: 150px;
    left: 50px;
  }
  .main-content h1 {
    width: 550px;
    font-size: 50px;
  }

  .main-content p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
  }

  .main-content span {
    color: rgb(237, 7, 7);
  }

  .row1 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-align: center;
  }
  .row2 {
    width: 100%;
    height: 300px;
    background-color: rgb(56, 159, 116);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
  }

  .row2 h1 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-weight: 700;
    font-size: 38px;
  }

  .row2 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }

  .row2 h2 {
    font-size: 28px;
    font-weight: 600;
    color: white;
  }
  .row2 p {
    font-weight: 400;
    color: white;
    font-size: 14px;
  }

  .row3 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .row3 video {
    width: 700px;
    height: 400px;
  }

  .row3 .content {
    width: 30%;
    text-align: center;
  }
  .row3 .content p {
    line-height: 30px;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .row4 {
    width: 100%;
    height: 600px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .row4 .head {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
  .row4 .head a input {
    border: none;
    width: 180px;
    height: 50px;
    background-color: #d94c50;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
  }

  .row4 .head a input:hover {
    background-color: #872e31;
  }
  .row4 .boxs {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
  }
  .row4 .box1,
  .row4 .box2,
  .row4 .box3,
  .row4 .box4 {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
  }
  .row4 .box1 .top,
  .row4 .box2 .top,
  .row4 .box3 .top,
  .row4 .box4 .top {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  .row4 .top h2 {
    font-size: 21px;
  }
  .row4 .content li {
    margin-top: 15px;
    font-size: 15px;
    color: #5a5757;
  }

  .row4 .box1 .content,
  .row4 .box2 .content,
  .row4 .box3 .content,
  .row4 .box4 .content {
    display: flex;
    gap: 20px;
    padding: 0 40px;
  }

  .row5 {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 100px;
  }

  .row5 .content {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row5 .flex-item {
    display: flex;
    gap: 50px;
    text-align: center;
    margin: 50px 0;
  }
  .row5 .payment-type img {
    width: 90px;
    height: 90px;
    border: 1px solid #9c9797;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
  }

  .row5 .payment-type p {
    width: 150px;
    margin-top: 10px;
    font-size: 15px;
  }

  .row5 .button a input {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #d94c50;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
  }
  .row5 .button a input:hover {
    background-color: #872e31;
  }

  .row5 .line {
    border: 1px dashed rgb(162, 159, 159);
    width: 750px;
    position: absolute;
    top: 160px;
    z-index: -1;
  }

  .social-media {
    display: inline-block;
    position: relative;
  }

  .social-media .social-media-content {
    display: block;
    transition: 0.5s ease;
  }
  .social-media i[class="fa-solid fa-earth-americas"] {
    right: 0px;
    bottom: 150px;
    background-color: #d94c50;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    font-size: 22px;
    color: white;
    margin-left: 15px;
  }

  .social-media-content {
    display: none;
    right: -200px;
    bottom: 150px;
    background-color: #d94c50;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
  }

  .social-media-content i {
    font-size: 22px;
    color: white;
    margin-left: 15px;
  }

  .social-media:hover .social-media-content {
    display: block;
    transform: translateX(-200px);
    color: rgb(9, 241, 238);
  }

  .social-media:hover .social-media-content a i:hover {
    color: rgb(9, 241, 238);
  }

  footer {
    width: 100%;
    height: 320px;
    background: linear-gradient(to bottom, #172337, #172337);
    display: inline-block;
    margin-top: 20px;
  }
  .foot-links {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
  }
  .foot-links ul li {
    text-transform: uppercase;
    list-style-type: none;
    color: red;
  }
  .foot-links .line ul li {
    text-transform: capitalize;
  }
  .foot-links .line2 ul li {
    text-transform: capitalize;
  }
  .col-1 ul > li {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
  }
  .foot-links ol li a {
    color: var(--font2-color);
    text-transform: capitalize;
    font-size: 14px;
  }
  .foot-links ol li a:hover {
    text-decoration: underline;
  }
  .foot-links p {
    color: var(--font2-color);
    width: 250px;
    line-height: 20px;
  }

  .foot-links .line {
    border-left: 1px ridge rgb(110, 108, 108);
    padding-left: 35px;
    height: 140px;
    margin-left: 100px;
  }

  .foot-links .line2 a {
    color: var(--font3-color);
  }
  .foot-links h4 {
    color: var(--font3-color);
    font-size: 18px;
  }
  .foot-links span {
    color: var(--font3-color);
  }
  .foot-links p {
    color: var(--font2-color);
    font-size: 14px;
  }
  /*----footer----*/

  /*----footer2----*/
  .footer2 {
    width: 100%;
    height: 70px;
    display: flex;
    background: linear-gradient(to bottom, #172337, #172337);
    border-top: 1px ridge #6d6a6a;
    justify-content: space-around;
    align-items: center;
  }
  .foot-links2 ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }
  .foot-links2 ul li a {
    color: var(--font2-color);
    font-family: var(--roboto);
    font-size: 14px;
    padding-left: 10px;
  }
  .foot-links2 ul li a i {
    color: var(--font3-color);
  }
  .copyright {
    color: var(--font2-color);
    font-size: 14px;
    font-family: var(--roboto);
    font-weight: 400;
  }
  /*--------------------------Desktop-Services-----------------------*/
  .container {
    width: 100%;
    height: auto;
    margin-top: 150px;
  }

  .section1 {
    width: 100%;
    height: 150px;
    text-align: center;
  }
  .section1 h1 {
    margin-top: 50px;
  }
  .section1 p {
    margin-top: 20px;
  }

  .section2,
  .section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .section2 .col-1,
  .section2 .col-2,
  .section2 .col-3 {
    width: 500px;
    height: 550px;
  }
  .section3 .col-1,
  .section3 .col-2,
  .section3 .col-3 {
    width: 500px;
    height: 550px;
  }
  .section2 .col-1 img,
  .section2 .col-2 img,
  .section2 .col-3 img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
  }

  .section3 .col-1 img,
  .section3 .col-2 img,
  .section3 .col-3 img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
  }
  .section2 .col-1 h2,
  .section3 .col-1 h2,
  .section2 .col-2 h2,
  .section3 .col-2 h2,
  .section2 .col-3 h2,
  .section3 .col-3 h2 {
    text-align: center;
    margin-top: 15px;
    color: var(--font1-color);
  }

  .section2 .col-1 p,
  .section3 .col-1 p,
  .section2 .col-2 p,
  .section3 .col-2 p,
  .section2 .col-3 p,
  .section3 .col-3 p {
    text-align: center;
    margin-top: 15px;
    padding: 0 30px;
    color: var(--font1-color);
  }

  .section2 .col-1 img:hover,
  .section2 .col-2 img:hover,
  .section2 .col-3 img:hover,
  .section3 .col-1 img:hover,
  .section3 .col-2 img:hover,
  .section3 .col-3 img:hover {
    transform: scale(1.1);
  }

  .section4 {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
  }

  .section4 video{
    width: 100%;
    height: 480px;
  }

.subsection2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
 
}

  .section4 .subsection2 h1 {
    color: white;
    width: 550px;
    font-size: 38px;
    text-align: center;
  
  }

  .section4 a input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  .section4 a input:hover {
    background-color: #d94c50;
    color: white;
  }
/*---------------Desktop-Services-Image Gallary-------------------*/

  .image-gallary{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
  }
  .images .row{
    width:auto;
    height: 450px;
    display: flex;
    justify-content: center;
  }
  .row img{
   width: 100%;
   border: 5px solid white;
   object-fit: cover;
  }

}

/*--------------------------------Mobile-Home-----------------------*/

@media (max-width: 600px) {
  nav .brand {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
  }
  nav .brand img {
    width: 200px;
    height: auto;
  }

  nav {
    width: 100%;
    height: 100px;
    background-color: rgb(235, 227, 227);
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: 1px solid rgb(178, 175, 175);
    z-index: 2;
  }

  .nav-item ul {
    padding: 0 20px;
    background-color: rgb(235, 227, 227);
    display: flex;
    flex-direction: column;
    height: 240px;
    list-style-type: none;
  }

  .nav-item ul li {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .nav-item ul li a {
    color: black;
    font-weight: 700;
    font-size: 18px;
  }
  .nav-item ul li a:hover {
    color: red;
    border-bottom: 3px solid red;
  }

  form{
    width: 350px;
    height: 550px;
    background-color: white;
    position: absolute;
    left:5px;
    top: 120px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  form .close {
    display:flex;
  }

  form .close i {
   position: absolute;
   right: 30px;
   font-size: 22px;
  }


  form .form-group{
    padding: 20px 50px;
  }

  form  .form-group h1{
    font-size: 26px;
    margin-bottom: 20px;
  }
  form .form-group input{
    width: 100%;
    height: 45px;
    border: 1px solid #dbd6d6;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    outline: none;
    padding: 0 10px;
    background-color: transparent;
  }

  form .form-group label{
    position: absolute;
    left: 60px;
    margin-top: 33px;
    font-size: 14px;
    color: #a6a3a3;
    transition: 0.2s;
    pointer-events: none;
  }
  .row input[type="text"]:focus + label{
    transform: translateY(-25px);
    background-color: white;
    padding: 5px 5px;
    font-size: 11px;
    color: black;
    font-weight: 500;
  }
  .row input[type="text"]:valid + label{
    transform: translateY(-25px);
    background-color: white;
    padding: 5px 5px;
    font-size: 11px;
    color: black;
    font-weight: 500;
  }

  .row input[type="text"]:focus ,input{
    outline: 1px solid #d94c50;
  }

  .form-group input[id="checkbox"]{
    width: auto;
    height: auto;
  }

  .form-group .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    gap: 10px;
  }

  .form-group .checkbox p{
  font-size: 12px;
  margin-top: 10px;
  }

.form-group .checkbox span{
  color:#d94c50 ;
}

.form-group input[type="button"]{
  background-color: #d94c50;
  border: none;
  font-size:17px ;
  color: white;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.form-group input[type="button"]:hover{
  background-color: #983438;
}

  .main img {
    width: 100%;
    opacity: 0.5;
    margin-top: 100px;
  }

  .menu-button {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }
  .menu-button i {
    font-size: 24px;
    border: 1px solid rgb(178, 175, 175);
    padding: 8px;
  }

  .hide {
    display: none;
  }
  .main-content {
    position: absolute;
    top: 120px;
    left: 20px;
  }
  .main-content h1 {
    width: 300px;
    font-size: 40px;
  }

  .main-content p {
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .main-content span {
    color: rgb(237, 7, 7);
  }

  .row1 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .row2 {
    width: 100%;
    height: 450px;
    background-color: rgb(56, 159, 116);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
  }

  .row2 h1 {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
    font-size: 28px;
  }

  .row2 .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .row2 h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }
  .row2 p {
    font-weight: 400;
    color: white;
    font-size: 14px;
  }
  .row3 {
    width: 100%;
    height: 400px;
  }

  .row3 video {
    width: 350px;
    height: 215px;
  }

  .row3 .video {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .row3 .content {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .row3 .content p {
    line-height: 30px;
    font-size: 19px;
    font-style: italic;
    margin-bottom: 15px;
    padding: 15px;
  }
  .row4 {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 250px;
  }
  .row4 .head {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  .row4 .head a input {
    border: none;
    width: 180px;
    height: 50px;
    background-color: #d94c50;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
  }
  .row4 .boxs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .row4 .box1,
  .row4 .box2,
  .row4 .box3,
  .row4 .box4 {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .row4 .box1 .top,
  .row4 .box2 .top,
  .row4 .box3 .top,
  .row4 .box4 .top {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  .row4 .top h2 {
    font-size: 21px;
  }
  .row4 .content li {
    margin-top: 15px;
    font-size: 15px;
    color: #5a5757;
  }

  .row4 .box1 .content,
  .row4 .box2 .content,
  .row4 .box3 .content,
  .row4 .box4 .content {
    display: flex;
    gap: 20px;
    padding: 0 40px;
  }

  .row5 {
    width: 100%;
    height: auto;
    position: relative;
  }

  .row5 .content,
  .row5 .button {
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .row5 .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin: 30px 20px;
  }
  .row5 .payment-type img {
    width: 90px;
    height: 90px;
    border: 1px solid #9c9797;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
  }
  .row5 .head h1 {
    text-align: center;
  }
  .row5 .payment-type p {
    width: 150px;
    margin-top: -65px;
    left: 140px;
    font-size: 15px;
    position: absolute;
  }

  .row5 .button a input {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #d94c50;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
  }
  .row5 .button a input:hover {
    background-color: #872e31;
  }

  .row5 .line {
    border: 1px dashed rgb(162, 159, 159);
    width: 1px;
    height: 550px;
    position: absolute;
    top: 160px;
    left: 85px;
    z-index: -1;
  }

  .social-media {
    display: inline-block;
    position: relative;
  }

  .social-media .social-media-content {
    display: block;
    transition: 0.5s ease;
  }
  .social-media i[class="fa-solid fa-earth-americas"] {
    right: 0px;
    bottom: 150px;
    background-color: #d94c50;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
    font-size: 22px;
    color: white;
    margin-left: 15px;
  }

  .social-media-content {
    display: none;
    right: -200px;
    bottom: 150px;
    background-color: #d94c50;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: fixed;
  }

  .social-media-content i {
    font-size: 22px;
    color: white;
    margin-left: 15px;
  }

  .social-media:hover .social-media-content {
    display: block;
    transform: translateX(-200px);
    color: rgb(9, 241, 238);
  }

  .social-media:hover .social-media-content a i:hover {
    color: rgb(9, 241, 238);
  }

  footer {
    width: 100%;
    height:auto;
    background: linear-gradient(to bottom, #172337, #172337);
    margin-top: auto;
  }
  .foot-links {
    height: auto;
    padding: 40px;
    justify-content: center;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }
  .foot-links ul li {
    text-transform: uppercase;
    list-style-type: none;
    color:red;
    font-size: 13px;
  }
  .foot-links .line ul li,
  .foot-links .line2 ul li {
    text-transform: capitalize;
    margin-top: 20px;
  }

  .col-1 ul > li {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  .foot-links ol li a {
    color: var(--font2-color);
    text-transform: capitalize;
  }
  .foot-links ol li a:hover {
    text-decoration: underline;
  }
  .foot-links p {
    color: var(--font2-color);
    width: 100%;
    line-height: 20px;
    font-size: 13px;
  }

  .foot-links a {
    color: var(--font3-color);
    font-size: 13px;
  }
  .foot-links h4 {
    color: var(--font3-color);
    font-size: 18px;
  }
  .foot-links span {
    color: var(--font3-color);
  }
  .foot-links p {
    color: var(--font2-color);
    font-size: 13px;
  }
  /*----footer----*/

  /*----footer2----*/
  .footer2 {
    width: 100%;
    height:auto;
    background: linear-gradient(to bottom, #172337, #172337);
    border-top: 1px ridge #6d6a6a;

  }
  .foot-links2 ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .foot-links2 ul li a {
    color: var(--font2-color);
    font-family: var(--roboto);
    font-size: 14px;
    text-align: center;
  }
  .foot-links2 ul li a i {
    color: var(--font3-color);
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
  .copyright {
    color: var(--font2-color);
    font-size: 14px;
    font-family: var(--roboto);
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cards img {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  /*------------------------Mobile-Services-----------------------*/
  .container {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .section1 {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  .section1 h1 {
    margin-top: 150px;
  }
  .section1 p {
    margin-top: 20px;
  }

  .section2,
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2 .col-1,
  .section2 .col-2,
  .section2 .col-3 {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
  }
  .section3 .col-1,
  .section3 .col-2,
  .section3 .col-3 {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
  }
  .section2 .col-1 img,
  .section2 .col-2 img,
  .section2 .col-3 img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
  }

  .section3 .col-1 img,
  .section3 .col-2 img,
  .section3 .col-3 img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
  }
  .section2 .col-1 h2,
  .section3 .col-1 h2,
  .section2 .col-2 h2,
  .section3 .col-2 h2,
  .section2 .col-3 h2,
  .section3 .col-3 h2 {
    text-align: center;
    margin-top: 15px;
    color: var(--font1-color);
  }

  .section2 .col-1 p,
  .section3 .col-1 p,
  .section2 .col-2 p,
  .section3 .col-2 p,
  .section2 .col-3 p,
  .section3 .col-3 p {
    text-align: center;
    margin-top: 15px;
    padding: 0 30px;
    color: var(--font1-color);
  }

  .section2 .col-1 img:hover,
  .section2 .col-2 img:hover,
  .section2 .col-3 img:hover,
  .section3 .col-1 img:hover,
  .section3 .col-2 img:hover,
  .section3 .col-3 img:hover {
    transform: scale(1.1);
  }

  .section4 {
    width: 100%;
    height:550px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
  }

  .section4 video{
    width: 100%;
    height: auto;
  }

.subsection2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
 
}

  .section4 .subsection2 h1 {
    color: white;
    width: 350px;
    font-size: 38px;
    text-align: center;
  
  }

  .section4 a input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  .section4 a input:hover {
    background-color: #d94c50;
    color: white;
  }

  /*----------------Services-Image Gallary-------------------*/

  .image-gallary{
    width: 100%;
    height:auto;
  }
  .images .row{
    width:355px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
   align-items: center;
  }
  .row img{
   width: 100%;
   border: 5px solid white;
   object-fit: cover;
  }

}

