.navbar {
  width: 100% !important;
}

.navbar ul li {
  font-size: 18px;
  padding-right: 5px;
  line-height: 25px;
}

.navbar ul li a:hover,
.navbar ul button i:hover {
  color: rgb(255, 230, 0) !important;
}

.navbar ul button {
  font-size: 28px;
  position: relative;
}

.navbar ul button span {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #dc3545;
  text-align: center;
}
