@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2c3a47;
}

.container {
  width: 1000px;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px aqua;
  padding: 25px 0;
}
.form-group {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.col {
  width: 100%;
  height: auto;
  padding: 30px;
}

.input-group {
  margin: 25px 0;
}

input,
select,
textarea {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #d6d3d3;
  padding: 0 10px;
  margin-top: 10px;
  transition: 0.2s ease;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid aqua;
  box-shadow: 0px 0px 5px aqua;
}

label {
  font-weight: 500;
}

.status-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.status-group input {
  width: auto;
  height: auto;
}

#reason {
  width: 100%;
  height: 100px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 29px;
  font-weight: 500;
}

button {
  width: 300px;
  height: 45px;
  outline: none;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  font-size: 19px;
  background-color: transparent;
  margin-top: 25px;
  border-radius: 5px;
  font-weight: 500;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button:hover {
  background: aqua;
}

.input-group .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-group.success input,
.input-group.success select {
  border-color: #0cc477;
}

.input-group.error input,
.input-group.error select {
  border-color: red;
}

@media screen and (max-width: 567px) {
  .container {
    width: 340px;
    height: auto;
    margin-top: 500px;
  }

  .row {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .col {
    padding: 0;
  }
}
