@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    rgba(255, 68, 0, 0.356),
    rgb(224, 214, 214),
    rgb(255, 255, 255)
  );
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.navbar {
  width: 100%;
  padding: 10px;
  box-shadow: 5px 5px 15px #1d1d1d33;
  background-color: #fe5005;
}

.nav-items {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  width: 150px;
  object-fit: cover;
}

.navbar ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar ul a {
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar ul a:hover,
.navbar h1:hover {
  animation: skew-y-shakeing 0.3s;
}

@keyframes skew-y-shakeing {
  0% {
    transform: skewY(-15deg);
  }
  5% {
    transform: skewY(15deg);
  }
  10% {
    transform: skewY(-15deg);
  }
  15% {
    transform: skewY(15deg);
  }
  20% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

.navbar ul a.active {
  color: #eaff00;
  font-weight: bold;
}
.navbar ul li .cart-btn {
  width: 30px !important;
  background-color: transparent;
  border: none !important;
}

.navbar ul li .cart-btn:hover {
  background-color: transparent;
}

.navbar ul button:nth-child(1) {
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.navbar ul button:hover {
  background-color: #fff;
  color: orangered;
}

.home-banner {
  width: 100%;
  height: 400px;
}
.home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container h3 {
  color: #fe5005;
}
/* Navbar */

.offcanvas-body,
.offcanvas-header {
  background-color: #fe5005;
  color: white;
}

h1 {
  color: #fe5005;
}

.offcanvas-header img {
  width: 70px;
}

.icon .cart,
.icon .fav {
  position: relative;
}
.icon .cart span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #fe5005;
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  left: 22px;
  top: -5px;
}
.icon .fav span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #fe5005;
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  left: 22px;
  top: -5px;
}

/* Header */

.header {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fe5005;
}
.header img {
  margin-top: 15px;
}

/* Food Items header */

.food-items-header {
  width: 100%;
  height: 100px;
  background-color: #fe5005;
}

.food-items-header .range {
  width: 250px;
  height: auto;
}
.food-items-header .range label {
  width: 100%;
}

.food-items-header .range span {
  width: 150px;
}

select {
  outline: none !important;
  border: none !important;
}

select option:hover {
  box-shadow: 0 0 10px 100px #fe5005 inset !important;
  color: white;
}
select option:checked {
  box-shadow: 0 0 10px 100px #fe5005 inset !important;
}

select option {
  padding: 5px;
}

/* Food items container */

.show-food-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.card {
  width: 300px;
  height: 430px;
  overflow: hidden;
  transition: 0.3s ease;
  margin-bottom: 30px;
}
.card:hover {
  scale: 1.02;
}

.card .card-img {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card .card-body {
  background-color: #fe5005;
  color: #ffff;
}
.card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}
.card .card-img img:hover {
  scale: 1.5;
}

.card .card-body button:nth-child(1):hover {
  color: #fff;
}

/* --#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width}; */

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 550px;
  /* --bs-offcanvas-height: 30vh; */
  /* --bs-offcanvas-padding-x: 3rem;
  --bs-offcanvas-padding-y: 2rem; */
  /* --bs-offcanvas-color: green; */
  /* --bs-offcanvas-bg: #fff; */
  /* --bs-offcanvas-border-width: 6px; */
  /* --bs-offcanvas-border-color: green; */
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe5005;
}

.cart-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  color: #fe5005;
  transition: 0.3s ease;
}
.cart-list:hover {
  scale: 1.02;
}
.cart-list img {
  width: 400px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.cart-list input[type="number"] {
  width: 40px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #fe5005;
  outline: none;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* Blog */

.blog .card {
  width: 400px;
  height: 450px;
  border-radius: 25px;
}
.blog .card .card-img-top {
  overflow: hidden;
}
.blog .card img {
  width: 100%;
  height: 200px;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}
.blog .card img:hover {
  scale: 1.4;
}

.blog button.active {
  background-color: #fe5005;
  border: none;
  color: #fff;
}

.section-break {
  width: 100%;
  height: 250px;
  margin-left: 2px;
}
.section-break img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Section */

footer {
  width: 100%;
  height: 350px;
}
footer h5 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
footer ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
footer ul li {
  text-align: left;
  width: 100%;
  padding: 5px;
}
footer ul li a {
  text-decoration: none;
  text-align: left;
  color: #929090;
  font-size: 15px;
}
footer ul li a:hover {
  color: #111111;
}
footer .social-link li a:hover i {
  color: #fe5005;
}

footer .footer-content .content-1 {
  width: 340px;
}

footer .app-link img {
  width: 200px;
}

.login-form-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin: 50px auto;
  background-color: #ffffff20;
  border-radius: 10px;
}

.login-form-container form {
  width: 100%;
}

.login-form-container form input {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid #ccc7c7;
  padding: 20px 30px;
  margin-bottom: 15px;
}

form input[id="name"],
form input[id="email"] {
  border-top: none;
}

.login-form-container form label {
  position: absolute;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: #9c9898;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
  display: inline;
  width: auto;
}
form input:focus + label,
form input:valid + label {
  transform: translateY(-24px);
  font-size: 12px;
  background-color: orangered;
  color: white;
  display: inline;
  width: auto;
  border-radius: 10px;
}

.login-form-container h5 {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(83, 128, 244);
  cursor: pointer;
}

.login-form-container button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #fe5005;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  line-height: 10px;
  cursor: pointer;
}
.login-form-container button:hover {
  background-color: white;
  border: 1px solid #fe5005;
  color: #fe5005;
}

.login-form-container .footer p,
span {
  font-size: 11px;
  color: #5e5b5b;
}
.login-form-container .footer span {
  font-size: 11px;
  color: black;
}

.login-form-container {
  width: 400px;
  padding: 10px;
  position: relative;
  padding: 20px 35px;
}
.login-form-container i {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}
.login-form-container h2 {
  font-size: 29px;
  font-weight: 500;
}

.login-form-container p {
  margin-top: 8px;
  font-size: 13px;
}
.login-form-container span {
  margin-top: 8px;
  font-size: 13px;
  color: rgb(241, 90, 9);
  cursor: pointer;
}

.login-form-container img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 15px;
  transition: 0.3s ease;
}
.login-form-container img:hover {
  scale: 1.1;
  transform: rotate(-15deg);
  filter: drop-shadow(5px 5px 15px #fe5005);
}

.login-form-container hr {
  margin-top: 20px;
  width: 9%;
  height: 3px;
  background-color: black;
  margin-bottom: 30px;
}

.container-fluid {
  width: 100%;
  height: 100%;
}
.container-fluid .youtube {
  width: 100%;
  height: auto;
}
.container-fluid .our-mission {
  width: 100%;
  height: 400px;
  background-color: orangered;
  position: relative;
  padding: 20px;
}
.container-fluid .our-mission img {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50px;
}

.container-fluid .our-mission p {
  margin-top: 180px;
  width: 100%;
  height: auto;
  font-size: 26px;
  color: #fff;
}

.container-fluid .journey {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.container-fluid .journey img {
  width: 100%;
  height: auto;
}

/* Contact Page Styles */
.contact-container {
  padding: 50px 0;
  width: 100%;
}

.contact-container {
  background-image: radial-gradient(
    circle,
    rgba(255, 68, 0, 0.356),
    rgb(224, 214, 214),
    rgb(255, 255, 255)
  );
  width: 100%;
}
.contact-info,
.contact-form {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}
.contact-container .contact-form {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container h2,
.contact-container h3,
.contact-container h4 {
  color: #333;
}

.contact-info h2 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #555;
}

.contact-info a {
  color: orangered;
  text-decoration: none;
  background-color: transparent;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #0066cc;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-container button {
  background-color: #fe5005;
  color: #ffff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.contact-container button:hover {
  background-color: #fff;
  border: 1px solid #fe5005;
  color: #fe5005;
}

.form-group p {
  font-size: 14px;
  color: #555;
}

.get-directions {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.left-column,
.right-column {
  flex: 1;
  border-radius: 8px;
  padding: 20px;
}
.public {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.left-column p {
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1.6;
}

a {
  color: orangered;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.product-details-box {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.product-details-box .product-details-img {
  width: 50%;
  height: 500px;
}
.product-details-box .product-details-content {
  width: 50%;
  height: auto;
}

.product-details-box .product-details-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.product-details-box .product-details-content button {
  background-color: #fe5005;
  color: #ffff;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.product-details-box .product-details-content button:hover {
  background-color: #fff;
  border: 1px solid #fe5005;
  color: #fe5005;
}

.star-rating {
  color: #fe5005; /* Yellow for the stars */
  margin-top: 10px;
}

.star {
  margin-right: 2px;
  font-size: 30px;
}

.star.full {
  color: #fe5005; /* Full star in yellow */
}

.star.half {
  color: #fe50058b; /* Half star in light yellow */
}

.star.empty {
  color: #fff; /* Empty star in gray */
}

/********/

header {
  text-align: center;
  margin: 20px 0;
}

header h1 {
  font-size: 2.5em;
  color: #fe5005;
}

header p {
  font-size: 1.1em;
  color: #555;
}

.order-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff20;
}

.order-summary h2 {
  font-size: 1.8em;
  color: #fe5005;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th,
tfoot {
  background-color: #f1f1f1;
}

tfoot {
  font-weight: bold;
}

.payment-methods {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff20;
}

.payment-methods h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #fe5005;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

input[type="radio"] {
  margin-right: 10px;
}

.payment-details {
  margin-top: 20px;
}

.payment-details input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #fe5005;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

button.submit-button:hover {
  background-color: #fe50056e;
}
