@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2c3e50;
}
nav {
  width: 100%;
  height: 100px;
  background-color: #34495e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 5px 5px 25px #242424cc;
}

nav .header a {
  font-size: 28px;
  color: white;
  font-weight: 500;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav ul li a {
  color: white;
  font-weight: 500;
}

nav ul li:hover {
  animation: textUp 0.3s;
  transition: 0.2s all ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes textUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  margin-top: 10px;
  padding: 20px;
}

.container h3 {
  color: white;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 52px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
}

.container .boxes {
  width: 75%;
  height: auto;
  gap: 20px; 
  display: flex;
  flex-wrap: wrap;
 
}

.container .boxes .box {
  height: 300px;
  width: 300px;
  border: 1px solid white;
  text-align: center;
  color: black;
  font-weight: 500;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: 0.3s all;
  font-size: 24px;
  border-radius: 10px;
 display: grid;
 place-items: center;

}

.container .boxes .box:hover {
  transform: scale(1.03);
}


 .skill {
    position: relative;
}

 .skill .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0 0 0 /.15),
        -6px -6px 10px -1px rgba(255 255 255 / .7);
}

 .skill .outer .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0 0 0/ .2),
        inset -4px -4px 6px -1px rgba(255 255 255 / .7),
        -.5px -.5px 0px rgba(255 255 255 / 1),
        .5px .5px 0px rgba(0 0 0 /.15),
        0px 12px 10px -10px rgba(0 0 0 / 0.05);
}

.skill .outer .inner .number {
    font-weight: 800;
    
}


 /* .skill:nth-child(2) .outer .inner .number {
    color: #4fa0ff;
} */

circle {
    fill: none;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: 2s linear;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

 /* .skill circle {
    stroke: #4fa0ff;
} */
