@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
}

.navbar {
  background-image: url("/header-bg.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  width: 100%;
  position: relative;
  backdrop-filter: blur(5px);
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with transparency */
  z-index: -1; /* Ensure the overlay is above the background */
}

.navbar .logo {
  font-family: "Righteous", sans-serif;
  margin-top: 20px;
}

.header-content {
  width: auto;
  height: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.navbar input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ffffff;
}

.navbar .btn-grp:hover {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 50px;
}

.tags button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
